:root {
  --maincolor: #212121;
  --menucolor: #616161;
  --backgroundcolor: #424242;
  font-size: 18px;
}

body {
  color: var(--maincolor);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.main {
  position: relative;
}

.wrapper {
  width: 920px;
  margin: auto;
}

.main-content {
  padding: 20px;
}


.hero {
  height: 350px;
  background: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../img/background/patron-1.png');
}

a {
  color: var(--maincolor);
}

h1 {
  font-size: 60px;
  margin-block: 60px 16px;
}

h2 {
  font-size: 2em;
  margin-block-start: 64px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-block: 16px 24px;
  position: sticky;
  top: 0;
  background: white;
}

hr {
  border: 1px solid var(--menucolor);
  margin-block: 0 64px;
}

blockquote {
  font-size: 24px;
  margin-block-start: 32px;
  margin-block-end: 64px;
  padding-inline-start: 16px;
  border-inline-start: 4px solid var(--maincolor);
  line-height: 34px;
}

blockquote p span {
  color: var(--menucolor);
}

blockquote p:last-child::before {

  content: '- ';
}

.section-content {
  counter-reset: counterList;
}

.section-content img {
  margin-block-start: 40px;
}

.section-content+hr {
  display: none;
}

.box-model {
  margin-block-start: 164px;
}

.box-model ul li {
  margin-block-start: 16px;
}

.box-model ol li {
  line-height: 24px;
}

section.section-content h3 {
  counter-increment: counterList;
  padding-block-end: 8px;
}

section.section-content h3::before {
  content: counter(counterList) ". ";
}

section.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--backgroundcolor);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;

}

nav details summary {
  font-weight: bold;
}

header {
  width: 188px;
  font-size: 14px;
  color: var(--menucolor);
  position: absolute;
  top: 90px;
  left: 70px;
  /* left:-188px; */
  /* background: red; */
}

header a {
  color: var(--menucolor);
  text-decoration: none;
}

header a:hover {
  color: var(--maincolor);
}

header-content {
  padding-inline: 20px;

}

pre {
  background: #FEC62C;
  padding-block: 40px;
  padding-inline-start: 40px;
  font-family: roboto;
  line-height: 24px;
}


.slider-container {
  /* block-size: 100px; */
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  height: auto;
  aspect-ratio: 16/9;
  display: inline-block;
  width: 100%;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 15px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background-color: var(--maincolor);
  border-radius: 50%;
}